 .u-section-1 {
  min-height: 912px;
}

.u-section-1 .u-image-1 {
  height: 3800px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-family: Candal;
  width: 817px;
  margin: -3675px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-family: Candal;
  font-weight: 400;
  margin: 72px calc(((100% - 1140px) / 2)  + 102px) 0;
}

.u-section-1 .u-image-2 {
  width: 300px;
  height: 300px;
  margin: 48px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 48px auto 0;
  padding: 16px 46px 17px;
}

.u-section-1 .u-image-3 {
  width: 126px;
  height: 118px;
  margin: -258px auto 0 calc(((100% - 1140px) / 2)  + 105px);
}

.u-section-1 .u-image-4 {
  width: 141px;
  height: 150px;
  margin: -497px calc(((100% - 1140px) / 2)  + 85px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 2px);
    margin-right: calc(((100% - 940px) / 2) + 2px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 105px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + 85px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 105px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + 85px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 105px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 85px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 5014px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: -4889px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 105px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 340px) / 2) + 85px);
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 1571px;
}

.u-section-2 .u-text-1 {
  font-family: Candal;
  width: 817px;
  margin: 20px auto 0;
}

.u-section-2 .u-image-1 {
  width: 134px;
  height: 134px;
  margin: -331px -17px 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 665px;
  height: 527px;
  margin: 834px 26px 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 830px;
  height: 833px;
  margin: -1087px auto 0 64px;
}

.u-section-2 .u-shape-3 {
  height: 1077px;
  width: 1096px;
  margin: -843px auto 0 -20px;
}

.u-section-2 .u-list-1 {
  width: 654px;
  margin: -929px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 9px);
  grid-template-columns: repeat(2, calc(50% - 9px));
  min-height: 782px;
  grid-gap: 18px;
}

.u-section-2 .u-container-layout-1 {
  padding: 8px 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 8px 0;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 8px 0;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 8px 0;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 32px auto 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-2 .u-image-2 {
  width: 245px;
  height: 192px;
  margin: -410px auto 0 32px;
}

.u-section-2 .u-image-3 {
  width: 570px;
  height: 257px;
  margin: 258px -166px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 209px;
  height: 209px;
  margin: -188px auto 0 -13px;
}

.u-section-2 .u-image-5 {
  width: 240px;
  height: 224px;
  margin: -911px -17px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1942px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-shape-3 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1942px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-shape-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -811px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: -960px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -503px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 352px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1838px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1838px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -99px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 139px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: 319px;
    margin-right: -17px;
  }

  .u-section-2 .u-shape-2 {
    height: 878px;
    width: 374px;
    margin-top: -1111px;
    margin-left: -17px;
    margin-right: -17px;
  }

  .u-section-2 .u-shape-3 {
    width: 357px;
    margin-top: -845px;
    margin-right: auto;
    margin-left: -17px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -227px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1209px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -21px;
    margin-right: -75px;
  }

  .u-section-2 .u-image-3 {
    height: 153px;
    width: 340px;
    margin-top: 1032px;
    margin-right: auto;
    margin-left: -583px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -1455px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -694px;
    margin-right: -90px;
  }
} .u-section-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 1304px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1302px;
}

.u-section-3 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-shape-1 {
  width: 246px;
  height: 246px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 39px 0 0 auto;
}

.u-section-3 .u-image-1 {
  width: 279px;
  height: 279px;
  background-image: url("images/00809B5B-33AF-446D-97A8-72CAB3432D08.JPG");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -285px -17px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 510px;
  height: 510px;
  background-image: url("images/3CAA8C97-7C43-48EE-B09D-4635EC87875B.PNG");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -122px auto 0 0;
}

.u-section-3 .u-image-3 {
  width: 279px;
  height: 279px;
  background-image: url("images/T-removebg-preview.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -139px 0 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 114px;
  height: 114px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -58px auto 0 134px;
}

.u-section-3 .u-image-4 {
  width: 209px;
  height: 210px;
  margin: -25px 0 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1302px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 339px 45px 0 103px;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-weight: 900;
  margin: 18px 45px 0 103px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 20px auto 0 103px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 31px auto 0 103px;
  padding: 13px 52px 15px 51px;
}

.u-section-3 .u-image-5 {
  width: 314px;
  height: 200px;
  margin: 320px -19px 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-family: Candal;
  font-weight: 400;
  margin: -58px 476px 0 -108px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1074px;
  }

  .u-section-3 .u-image-2 {
    width: 470px;
    height: 470px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -99px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1074px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 80px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 48px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 48px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 823px;
  }

  .u-section-3 .u-image-2 {
    width: 360px;
    height: 360px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 11px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1277px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 50px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-right: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1337px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1235px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 65px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2139px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin: 226px auto -152px -558px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 842px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -15px;
    margin-right: -429px;
  }

  .u-section-3 .u-image-1 {
    width: 351px;
    height: 351px;
    margin-top: 948px;
    margin-right: -564px;
  }

  .u-section-3 .u-image-2 {
    height: 383px;
    width: 383px;
    margin-top: -927px;
    margin-right: -580px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    width: 346px;
    height: 346px;
    margin-top: -928px;
    margin-right: -567px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -455px;
    margin-right: 42px;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    margin-top: 386px;
    margin-right: -498px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1223px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -1428px;
    margin-right: -551px;
    margin-left: 551px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 29px;
    margin-right: -551px;
    margin-left: 551px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 28px;
    margin-right: -551px;
    margin-left: 556px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 45px;
    margin-right: -518px;
    margin-left: auto;
  }

  .u-section-3 .u-image-5 {
    margin-top: 1807px;
    margin-right: -551px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 93px;
    margin-right: -559px;
    margin-left: 559px;
  }
}