.u-section-1 .u-sheet-1 {
  min-height: 841px;
}

.u-section-1 .u-icon-1 {
  width: 93px;
  height: 93px;
  background-image: none;
  margin: 205px auto 0;
  padding: 22px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-1 .u-form-1 {
  height: 170px;
  width: 400px;
  margin: 44px auto 60px;
}

.u-section-1 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  font-size: 1.5rem;
  background-image: none;
  font-weight: 700;
  text-transform: none;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}
