 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/You-cage.webp");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 901px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 241px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 741px;
  --radius: 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-list-1 {
  width: 476px;
  margin: 0 auto 0 14px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 552px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-icon-1 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: 13px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-icon-2 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  --radius: 30px;
  min-height: 741px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-list-2 {
  width: 476px;
  margin: 0 auto 0 14px;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 552px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-1 .u-icon-3 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 13px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-1 .u-icon-4 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 7px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 611px;
  }

  .u-section-1 .u-list-1 {
    width: 410px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 611px;
  }

  .u-section-1 .u-list-2 {
    width: 410px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 599px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 324px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 4.5rem;
  font-weight: 900;
  margin: 72px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 37px;
  min-height: 16px;
  width: 37px;
  min-width: 16px;
  margin: 23px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-line-1 {
  width: 100px;
  height: 10px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: 60px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 38px;
    margin-left: 38px;
  }
}